@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --white: #ffffff;
  --LightGray: #d6e2f0;
  --GrayishBlue: #7b879d;
  --DarkBlue: #1f3251;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  background-color: var(--LightGray);
  text-align: center;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 320px;
  max-height: 480px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  border: none;
}

img {
  border-radius: 1rem;
  width: 288px;
}

h1 {
  font-size: 1.2rem;
  color: var(--DarkBlue);
}

.card-text {
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  color: var(--GrayishBlue);
}

@media (max-width: 375px) {
  main {
    height: 80vh;
  }
}
