* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1rem;
}

h2 h1 {
  font-weight: 600;
}

header {
  padding: 4rem;
  background-color: #fff;
  text-align: center;
  text-wrap: pretty;
  line-height: 3rem;
}

main {
  padding: 2rem 8rem;
  background-color: #D2D5DA;
}

section {
  padding: 2rem 8rem;
  line-height: 1.5rem;

  div {
    line-height: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  ul,
  ol {
    margin: 1rem;
  }
}